<div class="container" xmlns:sec="http://www.w3.org/1999/xhtml">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a th:href="@{/}" class="nav-link px-2 link-secondary">Главная</a></li>
      <li><a th:href="@{/book}" class="nav-link px-2 link-dark">Книги</a></li>
      <li><a th:href="@{/author}" class="nav-link px-2 link-dark">Авторы</a></li>
      <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/admin}" class="nav-link px-2 link-dark">Админ-панель</a></li>
    </ul>

    <div class="text-end d-inline-flex">
      <div sec:authorize="!isAuthenticated()">
        <a th:href="@{/login}"> <button type="button" class="btn btn-outline-primary me-2">Авторизация</button></a>
        <a th:href="@{/registration}"><button type="button" class="btn btn-primary">Регистрация</button></a>
      </div>
      <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
          <a th:href="@{/profile}"> <button type="button" class="btn btn-outline-primary me-2">Профиль</button></a>
          <button type="submit" class="btn btn-primary">Выход</button>
        </form>
      </div>
    </div>
  </header>
</div>