<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>[[${author.name}]] — Электронная библиотека</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div th:replace="~{../includes/header}"></div>

<div class="container">
    <h1 class="text-center">Информация об авторе</h1>
    <hr>
    <div class="card">
        <div class="card-body">
            <h4 class="card-text" th:text="${author.name}">Имя</h4>
            <hr>
            <p class="card-text" th:text="${author.bio}">Биография</p>
        </div>
    </div>

    <br>

    <div sec:authorize="hasAuthority('ADMIN')">
        <div class="btn-group mr-2" role="group">
            <form method="get" th:action="@{/admin/edit/author/{id}(id=${author.id})}">
                <button class="btn btn-primary" type="submit">Редактировать</button>
            </form>
        </div>
        <div class="btn-group" role="group">
            <form method="post" th:action="@{/admin/deleteAuthor/{id}(id=${author.id})}">
                <button class="btn btn-danger" type="submit">Удалить</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>